<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Meet
          </a>
          <ul class="dropdown-menu">
            <li>
              <a
                class="dropdown-item"
                href="#"
                routerLink="meets"
                routerLinkActive="active"
                >List Meets</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="#"
                routerLink="register-meet"
                routerLinkActive="active"
                >Add Meet</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Room
          </a>
          <ul class="dropdown-menu">
            <li>
              <a
                class="dropdown-item"
                href="#"
                routerLink="rooms"
                routerLinkActive="active"
                >List Rooms</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="#"
                routerLink="register-room"
                routerLinkActive="active"
                >Add Room</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Act
          </a>
          <ul class="dropdown-menu">
            <li>
              <a
                class="dropdown-item"
                href="#"
                routerLink="acts"
                routerLinkActive="active"
                >List Acts</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="#"
                routerLink="register-act"
                routerLinkActive="active"
                >Add Act</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<h1 class="text-center">{{ title }}</h1>

<div class="container">
  <router-outlet></router-outlet>
</div>
